<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	">

	<tx:annotation-driven />

	<context:component-scan base-package="springmvc" />

	<!-- Static File -->
	<mvc:annotation-driven />
	<mvc:resources location="/WEB-INF/resources/"
		mapping="/resources/**" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		name="viewResolver">

		<!-- Starting point -->
		<property name="prefix" value="/WEB-INF/views/" />

		<!-- Ending page -->
		<property name="suffix" value=".jsp" />

	</bean>

	<mvc:interceptors>

		<mvc:interceptor>

			<mvc:mapping path="/b" />
			<bean class="springmvc.controller.MyInterceptor"></bean>

		</mvc:interceptor>

	</mvc:interceptors>



	<!-- Configure Multipart Resolver -->

	<bean
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		name="multipartResolver">


	</bean>



	<!-- DATASOURCE -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springdb" />
		<property name="username" value="gmahor" />
		<property name="password" value="password" />
	</bean>


	<!-- SESSION FACTORY -->
	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="factory">

		<!-- DATASOURCE -->
		<property name="dataSource" ref="ds"></property>

		<!-- HIBERNATE PROPERTIES -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>

			</props>
		</property>

		<!-- ANNOTATED CLASSES -->
		<property name="annotatedClasses">
			<list>
				<value>
					springmvc.model.User
				</value>
			</list>

		</property>

	</bean>

	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hibernateTemplate">

		<!-- SESSION FACTORY -->
		<property name="sessionFactory" ref="factory"></property>

	</bean>


	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="transactionManager">

		<property name="sessionFactory" ref="factory"></property>

	</bean>


</beans>